body {
    position: relative;
    height: 100vh;
    width: 100vw;
    background: url(../images/bg1000px.png) left bottom / auto no-repeat;
}

.logo {
    margin: 60px 0 0 40px;
}

.form {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 20%;
}

.forget-password{
    text-transform: none;
}

@media (max-width: 1100px) {
    body {
        background: url(../images/bg700px.png) left bottom / auto no-repeat;
    }

    .form {
        right: 10%;
    }
}

@media (max-width: 650px) {
    .logo {
        margin: 30px 0 0 30px;
    }

    body {
        background: url(../images/bg430px.png) left bottom / auto no-repeat;
    }

    .form {
        left: 50%;
        right: 0;
        transform: translate(-50%, -50%);
    }
}