body {
    background: url(../../images/bgreverse500px.png) right bottom / auto no-repeat;
}

.cancelform-hidden {
    display: none !important;
}

@media (max-width: 1100px) {
    .content{
        flex-direction: column;
    }
}

@media (max-width: 680px) {
    .form, .form-and-buttons{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .form-second-part {
        margin: 0;
    }
}